.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    background: #4d4d4d;
    z-index: 10;
    transition: all .5s ease;
    header{
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        line-height: 77px;
        background: rgb(155, 219, 219);
        user-select: none;
    }
    ul{
        list-style: none;
        padding-left: 0%;
        height: calc(100vh - 77px);
        overflow-y: auto;
        padding-bottom: 40px;
        li{
            a{
                height: 100%;
                width: 100%;
                line-height: 50px;
                display: block;
                color: white;
                border-top: 1px solid #6a6a6a;
                padding-left: 10px;
            }
            a:hover{
                text-decoration: none;
                color: #ffff00;
                background: #707070;
                padding-left: 16px;
            }
        }
    }
}
#sidemenu{
    display: none;
}
label #showbtn{
    position: absolute;
    cursor: pointer;
}
label #showbtn{
    top: 26px;
    left: 195px;
    transition: all .5s;
    z-index: 11;
    svg{
        height: 30px;
        width: 30px;
    }
}

.header{
    background: #e8edd5bd;
    height: 77px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 26px;
    .profile-pic{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background: #a8e1af33;
    }
    .user-status{
        position: relative;
        height: 16px;
        width: 16px;
        background: #1cd91c;
        top: 18px;
        left: -14px;
        border-radius: 50%;
        border: 3px solid white;
    }
}

.body-content{
    width: calc(100vw - 250px);
    position: absolute;
    top: 77px;
    left: 250px;
    transition: all .5s ease;
}

#sidemenu:checked~ .sidebar{
    left: -250px;
}
#sidemenu:checked~ .body-content{
    width: 100vw;
    left: 0px;
}

#sidemenu:checked~ label #showbtn{
    left: 26px;
}

@media screen and (max-width: 890px){
    .sidebar{
        left: -250px;
    }
    .body-content{
        width: 100vw;
        left: 0;
    }

    label #showbtn{
        left: 26px;
    }

    #sidemenu:checked~ .sidebar{
        left: 0px;
    }

    #sidemenu:checked~ label #showbtn{
        left: 195px;
        // opacity: ;
    }
}