@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container-below-header{
  height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  background: #ffffff;
  margin: 30px;
  border: 1px solid #ededed;
  box-shadow: 0 0 1px 1px #dbd2d2;
  border-radius: 2px;
  .box-head{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ededed;
    padding: 9px;
    font-size: 1.3em;
    font-weight: bold;
    color: #4b4a4ac2;
  }
  .box-body{
    padding: 20px;
  }
}
